.main__extra{ /* Estructura para la página con información sobre libros*/
  height: auto;
  width: 100%;
  margin-top: 100px;
  .article__container{ /* Estructura para organizar las cards*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    .main__title{
      @include sizes-behavior(50px, 100%, flex);
      @include text(25px, $main-color, $fourth-font);
      justify-content: center;
      align-items: center;
      background: $thirteenth-color;
      &::before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        border-top: 20px solid transparent;
        border-left: 20px solid $fourth-color;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }
    }
    .main__text{
      text-align: center;
      font-size: 16px;
      font-family: $main-font;
      width: 80%;
    }
    .card{
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      img{
       width: 100%;
       height: 450px;
      }
      .card-body{
        font-family: $third-font;
        width: 100%;
        padding: 10px 0px;
        .btn{
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px){
  .main__extra{
    .article__container{
      .main__title{
        height: 70px;
        font-size: 30px;
        &::before{
          content: '';
          border-top: 30px solid transparent;
          border-left: 30px solid $fourth-color;
          border-right: 30px solid transparent;
          border-bottom: 30px solid transparent;
        }
      }
      .main__text{
        font-size: 18px;
      }
      .card{
        .card-body{
          .modal{
            .modal-dialog{
              .modal-content{
                .modal-body{
                  .card-text{
                    font-size: 18px;
                    padding-bottom: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px){
  .main__extra{
    .article__container{
      .main__title{
        height: 70px;
        width: 80%;
        font-size: 30px;
        &::before{
          content: '';
          left: 10%;
          border-top: 35px solid transparent;
          border-left: 35px solid $fourth-color;
          border-right: 35px solid transparent;
          border-bottom: 35px solid transparent;
        }
        &::after{
          content: '';
          display: block;
          position: absolute;
          right: 0;
          width: 200px;
          border-top: 35px solid $thirteenth-color;
          border-left: 35px solid $thirteenth-color;
          border-right: 35px solid $thirteenth-color;
          border-bottom: 35px solid $thirteenth-color;
        }
      }
      .main__text{
        font-size: 18px;
      }
      .card{
        width: 30%;
      }
    }
  }
}
@media only screen and (min-width: 1200px){

    .main__extra{
      .article__container{
        .main__title{
          font-size: 35px;
        }
        .main__text{
          font-size: 20px;
        }
        .card{
          width: 25%;
        }
    }
  }
}
@media only screen and (min-width: 1400px){
  .main__extra{
    .article__container{
      .main__title{
        font-size: 35px;
      }
      .main__text{
        font-size: 20px;
      }
      .card{
        width: 25%;
      }
    }
  }
}
@media only screen and (min-width: 1600px){
  .main__extra{
    .article__container{
      .card{
        width: 20%;
      }
    }
  }
}
