.main__index{ /* Estructura de la página principal*/
  height: auto;
  width: 100%;
  overflow: hidden;
  .main_article{ /* Detalles para sección del contenido principal*/
    height: auto;
    width: 100%;
    background-image: $main-bg;
    .article__title{
      width: 100%;
      margin: 0;
      padding-top: 10px;
      color: $main-color;
      text-align: center;
      font-size: 2em;
    }
    .lead{
      color: $fourth-color;
    }
  }
  .main__card{ /* Estructura para el contenido secundario de la página principal*/
    @include sizes-behavior(auto, 100%, flex);
    background: $main-color;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px 0px;
    .tarjeta{
      @include sizes-behavior(450px, 100%, flex);
      background: $main-bg;
      align-items: center;
      flex-direction: column;
      font-family: $seventh-font;
      text-align: center;
      &:hover{
        transform: scale(1.05);
      }
      .card__img{
        background: $main-color;
        @include sizes-behavior(100px, 100px, flex);
        margin-top: 15px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        img{
          height: 80%;
          width: 80%;
        }
      }
      .card__title{
        margin-top: 15px;
        text-align: center;
        font-size: 25px;
        color: $thirteenth-color;
      }
      .card__text{
        color: $main-color;
        font-size: 16px;
        margin-top: 15px;
        padding: 0px 10px 0px 10px;
      }
    }
  }
}

@media only screen and (min-width: 480px){
  .main__index{
    .main__card{
      .tarjeta{
        width: 90%;
        height: 400px;
        border-radius: 10px;
        -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.60);
        -moz-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.60);
        box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.60);
      }
    }
  }
}
@media only screen and (min-width: 600px){
  .main__index{
    .main_article{
      .article__title{
        padding-top: 20px;
        font-size: 35px;
      }
    }
    .main__card{
      .tarjeta{
        width: 75%;
        height: 380px;
      }
    }
  }
}
@media only screen and (min-width: 768px){
  .main__index{
    .main_article{
      .article__title{
        font-size: 42px;
      }
    }
    .main__card{
      .tarjeta{
        width: 45%;
        height: 450px;
        .card__title{
          font-size: 24px;
          padding: 0px 5px;
        }
        .card__text{
          font-size: 18px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px){
  .main__index{
    .main_article{
      .article__title{
        font-size: 48px;
      }
    }
  }
}
@media only screen and (min-width: 1200px){
  .main__index{
    .main__card{
      .tarjeta{
        width: 35%;
      }
    }
  }
}
@media only screen and (min-width: 1440px){
  .main__index{
    .main__card{
      gap: 10px;
      .tarjeta{
        width: 22%;
        height: calc(auto + 30px);
        .card__title{
          padding: 0px 10px;
        }
      }
    }
  }
}
