.main__we{ /* Estructura para la página secundaria */
  height: auto;
  width: 100%;
  overflow: hidden;
  .main__section{ /* Estructura y detalles para la sección del contenido*/
    @include sizes-behavior(auto, 100%, flex);
    flex-direction: column;
    margin-bottom: 15px;
    .section__title{
      @include sizes-behavior(70px, 100%, flex);
      @include text(2.5em, $main-color, $sixth-font);
      font-weight: 400;
      background-image: $second-bg;
      margin: 30px 0px 15px;
      justify-content: center;
      align-items: center;
      letter-spacing: 2px;
    }
    .first{
      .container-fluid{
        .container__text{
          font-size: 18px;
          padding: 0px;
        }
      }
    }
    .row{
      .col-md-6{
        margin: 15px 0px;
        .h-100{
          .text{
            font-family: $seventh-font;
            margin: 50px 0px 0px;
          }
          img{
            @include sizes-behavior(200px, 200px, block);
            border-radius: 50%;
            margin: 0 auto 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px){
  .main__we{
    .main__section{
      .section__title{
        width: 95%;
        margin: 30px auto 15px;
        border-radius: 10px;
        font-size: 2.2em;
        letter-spacing: 5px;
      }
      .first{
        width: 90%;
        margin: 0px auto;
      }
      .row{
        .col-md-6{
          .bg--d{
            background: $eleventh-color !important;
            color: $fourth-color;
          }
          .bg--l{
            background: $main-color !important;
            color: $seventh-color !important;
            border: 1px solid $second-color!important
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px){
  .main__we{
    .main__section{
      width: 95%;
      margin: 0px auto;
      .first{
        width: 95%;
        margin: 0px auto;
        .container-fluid{
          .container__text{
            font-size: 20px;
            padding: 15px 15px 0px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px){
  .main__we{
    .main__section{
      .section__title{
        font-size: 2.5em;
      }
      .first{
        width: 80%;
        margin: 0px auto;
        .container-fluid{
          .container__text{
            font-size: 22px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1400px){
  .main__we{
    .main__section{
      .section__title{
        width: 90%;
      }
      .first{
        width: 70%;
        margin: 0px auto;
        }
    }
    .row{
      .col-md-6{
        .h-100{
          .text{
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1650px){
  .main__we{
    .main__section{
      .section__title{
        font-size: 3em;
      }
      .first{
        width: 70%;
        margin: 0px auto;
      }
      .row{
        .col-md-6{
          .h-100{
            .text{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
