*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{ /* Variables para los colores y fuentes */
  --main-color: #faf9f9;
  --second-color: #0a9396;
  --third-color: #0a0908;
  --main-font: 'Raleway', sans-serif;
  --second-font: 'Luxurious Roman', cursive;
  --third-font: 'Be Vietnam Pro', sans-serif;
  --fourth-font: 'Roboto Mono', monospace;
  --main-background: radial-gradient( circle 900px at 50.1% 48%,  rgba(50,57,63,1) 0.2%, rgba(33,37,41,1) 90% );
}
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: #e85d04;
  border-radius: 10px;
}
.header{
  height: 60px;
  width: 100%;
  display: flex;
}
/* Comienzo del nav */
.header__nav{
  height: 60px;
  width: 100%;
  background: var(--third-color);
  position: fixed;
  z-index: 1;
}
/* Menú Responsive */
.checkbtn{
  height: 50px;
  width: 50px;
  background: #37a6ff;
  color: var(--main-color);
  float: right;
  margin: 5px 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}
.checkbtn::before{
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transition: .5s;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;
}
.checkbtn::after{
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transition: .5s;
  transform: translateY(10px);
}
#check{
  display: none;
}
.nav__ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #2c3e50;
  top: 60px;
  left: -100%;
  text-align: center;
  transition: all .5s;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  font-family: var(--third-font);
}
.nav__li > a{
  font-size: 25px;
  display: block;
  line-height: 80px;
  text-decoration: none;
  color: #fff;
}
.nav__li > a:hover{
  color: #0082e6;
}
#check:checked ~ .nav__ul{
  left: 0;
}
#check:checked ~ .checkbtn{
  background: #f7226a;
}
#check:checked ~ .checkbtn::before{
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 #fff;
}
#check:checked ~ .checkbtn::after{
  transform: translateY(0px) rotate(-45deg);
}/* Fin del menú */
/* Fin del nav */

/* Comienzo del logo */
.header__logo{
  height: 50px;
  width: 60px;
  display: flex;
  color: #fff;
  margin-left: 1em; /* 30/16 */
  margin-top: 0.4em; /* 5/16 */
  position: fixed;
  z-index: 1;
}
.header__logo > img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.Logo__text{
  margin-left: 15px;
  font-size: 20px;
  align-self: center;
  color: var(--main-color);
} /* Fin del logo */

.main{
  height: 1500px;
  width: 100%;
  margin-top: 30px;
}
.section__main{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.main__article{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
}
.main__title{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #011627;
  color: var(--main-color);
  font-family: var(--second-font);
  letter-spacing: 2px;
}
.article__form{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #2EC4B6;
}
.form__name > label, .form__email > label, .form__number > label{
  display: none;
}
.form__input{
  height: 40px;
  width: calc(100vw - 40px);
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  font-size: 15px;
}
.form__input::placeholder{
  font-family: var(--main-font);
  color: var(--third-color);
  font-size: 15px;
}
.form__input:focus{
  outline: none;
  font-family: var(--main-font);
}
.form__comment > textarea{
  width: 90%;
  margin-left: 5%;
  font-family: var(--main-font);
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  font-size: 15px;
  resize: none;
}
.form__comment > textarea:focus{
  outline: none;
  font-family: var(--main-font);
}
.form__comment > textarea::placeholder{
  font-family: var(--main-font);
  color: var(--third-color);
  font-size: 15px;
  padding-left: 5px;
}
.article__btn{
  width: 80%;
  height: 50px;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  background: #011627;
  border: none;
  color: var(--main-color);
  font-family: var(--third-font);
  font-size: 20px;
  cursor: pointer;
}
.article__btn > i{
  padding-left: 5px;
}
.main__aside{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  height: 700px;
  width: 100%;
  background: #E71D36;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 50px;
}
.aside__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aside__content > img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.aside__text{
  color: var(--main-color);
  font-family: var(--third-font);
  line-height: 25px;
}
/* Comienzo del footer */
.footer{
  height: 780px;
  width: 100%;
  background: var(--third-color);
  margin-top: 20px;
  display: grid;
  grid-template-columns: 100% 0%;
  grid-template-rows: 18.75em 15.625em 13.675em;
  font-family: var(--fourth-font);
}
.footer__redes{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 250px;
  width: 100%;
  display: grid;
  grid-template-rows: 18.75em 15.625em; /* 250/16 */
  grid-template-columns: 100% 0%;
}
.redes__link{
  grid-row: 2 / 3;
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 15px;
}
.footer__map{
  height: 225px;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 5% 5%;
}
.footer__redes iframe{
  height: 100%;
  width: 100%;
}
.redes__link p:nth-child(1){
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: var(--main-color);
}
.redes__link a{
  width: 6.25em; /* 100/16 */
  text-decoration: none;
  transition: .5s;
}
.redes__link p:nth-child(6){
  font-size: 16px;
  color: var(--main-color);
  text-align: center;
  padding: 0px 20px;
}
.redes__link a i{
  font-size: 30px;
  color: var(--main-color);
  display: flex;
  justify-content: space-around;
}
.redes__link a:hover{
  transform: translateY(-10px);
}
#facebook{
  color: #6e8ccc;
}
#google{
  color: #ee4b39;
}
#instagram{
  color: #e4405f ;
}
#twitter{
  color: #0077b5;
}
.footer__extra{
  height: 100%;
  width: 100%;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
.footer__extra span{
  margin-bottom: 15px;
  font-size: 15px;
}
/* Fin del footer */

 @media only screen and (min-width: 480px) and (max-width: 768px){
  .header__logo{
    margin-left: 2em; /* 30/16 */
  }
  .main{
    height: auto;
  }
  .section__main{
    grid-gap: 30px;
  }
  .main__title{
    font-size: 30px;
  }
  .article__form, .main__aside{
    height: auto;
    width: 90%;
    margin-left: 5%;
  }
  .form__input{
    width: calc(80vw - 20px);
  }
  .article__btn{
    width: 50%;
  }
  .aside__content{
    margin: 10px;
  }
  .footer__extra{
    justify-content: center
  }
}
@media only screen and (min-width: 769px) and (max-width: 1060px){
  .checkbtn{
    display: none;
  }
  .nav__ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    font-family: var(--third-font);
    position: static;
    background: none;
  }
  .nav__li{
    font-size: 1em;
    padding: 0px 1em;
  }
  .nav__li > a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  .main{
    height: auto;
  }
  .section__main{
    grid-gap: 30px;
  }
  .main__title{
    font-size: 35px;
    height: 70px;
  }
  .article__form, .main__aside{
    height: auto;
    width: 80%;
    margin-left: 10%;
  }
  .article__form{
    align-items: flex-start;
    padding-left: 5%;
  }
  .form__comment > textarea{
    margin: 0px;
  }
  .form__input{
    width: 500px;
  }
  .article__btn{
    width: 30%;
  }
  .aside__content{
    margin: 10px;
  }
  .redes__link p:nth-child(1){
    font-size: 30px;
  }
  .redes__link p:nth-child(6){
    font-size: 18px;
  }
  .footer__extra{
    justify-content: center
  }
  .footer__extra > span{
    font-size: 18px;
  }
}
@media only screen and (min-width: 1061px) and (max-width: 1440px){
  .checkbtn{
    display: none;
  }
  .nav__ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    font-family: var(--third-font);
    position: static;
    background: none;
  }
  .nav__li{
    font-size: 1em;
    padding: 0px 1em;
  }
  .nav__li > a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  .header__logo{
    margin-left: 2.8em; /* 30/16 */
  }
  .main{
    height: 800px;
  }
  .section__main{
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px auto;
    grid-gap: 20px;
  }
  .main__article{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px auto;
    grid-gap: 20px;
    width: 90%;
    justify-self: center;
  }
  .main__title{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 100%;
    font-size: 35px;
  }
  .article__form{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  .article__form{
    align-items: flex-start;
    padding-left: 5%;
  }
  .form__comment > textarea{
    margin: 0px;
  }
  .form__input{
    width: 500px;
  }
  .article__btn{
    width: 30%;
  }
  .aside__content{
    margin: 10px;
  }
  .main__aside{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    width: 90%;
  }
  .footer{ /* Comienzo del footer */
    height: 350px;
    width: 100%;
    background: var(--third-color);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 10%;
  }
  .footer__redes{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .redes__link{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  .footer__map{
    grid-column: 2 / 3;
    height: 200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .footer__extra{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width: 1441px){
  .header__nav{
    height: 70px;
  }
  .checkbtn{
    display: none;
  }
  .nav__ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    font-family: var(--third-font);
    position: static;
    background: none;
  }
  .nav__li{
    padding: 0em 1.6em; /* 0/16 */ /* 50/16 */
  }
  .nav__li > a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  .header__logo{
    height: 60px;
    width: 70px;
    margin-left: 2.8em; /* 30/16 */
  }
  .Logo__text{
    font-size: 23px;
  }
  .main{
    height: 800px;
  }
  .section__main{
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px auto;
    grid-gap: 20px;
  }
  .main__article{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px auto;
    grid-gap: 20px;
    width: 90%;
    justify-self: center;
  }
  .main__title{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 100%;
    font-size: 35px;
  }
  .article__form{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  .article__form{
    align-items: flex-start;
    padding-left: 5%;
  }
  .form__comment > textarea{
    margin: 0px;
  }
  .form__input{
    width: 500px;
  }
  .article__btn{
    width: 30%;
  }
  .aside__content{
    margin: 10px;
  }
  .main__aside{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    width: 90%;
    gap: 80px;
  }
  .footer{ /* Comienzo del footer */
    height: 350px;
    width: 100%;
    background: var(--third-color);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 10%;
  }
  .footer__redes{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .redes__link{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  .footer__map{
    grid-column: 2 / 3;
    height: 200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .footer__extra{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
