*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{ /* Variables para los colores y fuentes */
  --main-color: #faf9f9;
  --second-color: #0a9396;
  --third-color: #0a0908;
  --main-font: 'Raleway', sans-serif;
  --second-font: 'Luxurious Roman', cursive;
  --third-font: 'Be Vietnam Pro', sans-serif;
  --fourth--font: 'Roboto Mono', monospace;
  --main-background: radial-gradient( circle 900px at 50.1% 48%,  rgba(50,57,63,1) 0.2%, rgba(33,37,41,1) 90% );
}
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: #e85d04;
  border-radius: 10px;
}
.header{ /* Comienzo del header */
  height: 560px;
  width: 100%;
  display: flex;
}
.header__nav{ /* Comienzo del nav */
  height: 60px;
  width: 100%;
  background: var(--third-color);
  position: fixed;
  z-index: 1;
}
.nav__ul{
  height: 100%;
  list-style: none;
  font-family: var(--third-font);
  display: flex;
  justify-content: flex-end;
  align-items:center;
}
.nav__li{
  padding: 0px 20px;
}
.nav__li > a{
  text-decoration: none;
  color: #fff;
} /* Fin del nav */

.header__logo{ /* Comienzo del logo */
  height: 50px;
  width: 60px;
  display: flex;
  color: #fff;
  margin-left: 2.875em; /* 30/16 */
  margin-top: 0.4em; /* 5/16 */
  position: fixed;
  z-index: 1;
}
.header__logo > img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.Logo__text{
  margin-left: 15px;
  font-size: 20px;
  align-self: center;
  color: var(--main-color);
} /* Fin del logo */

.header__start{ /* Contenido llamativo */
  height: 500px;
  width: 100%;
  background-image: url("../img/header-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  top: 3.75em;
}
.container__img{
  display: flex;
  margin-right: 5%;
}
.container__img > img{
  height: 170px;
  width: 140px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 5%;
}
.start__tittle{
  width: 430px;
  color: var(--main-color);
  font-family: var(--second-font);
  letter-spacing: 2px;
  font-size: 21px;
}
.start__text{
  width: 650px;
  font-size: 17px;
  font-family: var(--main-font);
  font-weight: 600;
  margin-top: 20px;
} /* Fin del contenido llamativo */
  /* Fin del header */

.main{ /* Contenido de la página */
  height: 1800px;
  width: 100%;
  overflow: hidden;
}
/* Contenido principal */
.main_article{
  height: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 26.5em 27.25em 26.5em; /* 424/16 */ /* 500/16 */ /* 424/16 */
  grid-template-rows: 6.25em 15.625em 15.625em 15.625em 15.625em 15.625em; /* 100/16 */ /* 250/16 */ /* 250/16 */ /* 250/16 */ /* 250/16 */ /* 250/16 */
  justify-content: center;
  background-image: var(--main-background);
}
.article__title{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 2.1em;
  padding: 10px;
  color: var(--main-color);
  font-family: var(--main-font);
}
.article__container--p{ /* Reiki */
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: 424px;
}
.img__position--p{
  width: 350px;
  height: 200px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: flex-end;
}
.img__position--p > img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
  -moz-box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
  box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
}
.container__position--p{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1.25em; /* 20/16 */
} /* Fin del Reiki */
.article__container--s{ /* Yoga */
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: 424px;
  align-items: center;
}
.container__position--s{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  margin-top: 6.25em; /* 100/16 */
}
.img__position--s{
  width: 350px;
  height: 200px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.img__position--s  > img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
  -moz-box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
  box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
} /* Fin del Yoga */
.article__container--t{ /* Tarot */
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: 424px;
}
.img__position--t{
  width: 350px;
  height: 200px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: flex-end;
}
.img__position--t  > img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
  -moz-box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
  box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
}
.container__position--t{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1.25em; /* 20/16 */
} /* Fin del Tarot */
.article__container--c{ /* Terapia */
  grid-column: 3 / 4;
  grid-row: 4 / 6;
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: 424px;
  align-items: center;
  justify-content: center;
}
.container__position--c{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  margin-top: 6.25em; /* 100/16 */
}
.img__position--c{
  width: 350px;
  height: 200px;
}
.img__position--c  > img{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
  -moz-box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
  box-shadow: 0px 0px 10px -2px rgba(255,255,255,0.54);
} /* Fin de Terapia */
.article__line--first{ /* Linea de tiempo */
  width: 2px;
  height: 95%;
  background: var(--second-color);
  grid-column: 2 / 3;
  grid-row: 2 / 6;
  justify-self: center;
  align-self: flex-end;
}
.article__line--second{
  width: 50%;
  height: 2px;
  background: var(--second-color);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
}
.article__line--third{
  width: 50%;
  height: 2px;
  background: var(--second-color);
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: center;
  justify-self: flex-end;
}
.article__line--fourth{
  width: 50%;
  height: 2px;
  background: var(--second-color);
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  align-self: center;
}
.article__line--fifth{
  width: 50%;
  height: 2px;
  background: var(--second-color);
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  justify-self: flex-end;
  align-self: center;
} /* Fin de la linea de tiempo */

.article__title--l{ /* Comienzo del contenido de texto */
  width: 350px;
  text-align: center;
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 400;
  position: relative;
  top: -10px;
}
.article__text--l{
  color: var(--main-color);
  font-size: 16px;
  width: 350px;
  font-family: var(--main-font);
}
.article__title--r{
  width: 350px;
  text-align: center;
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 10px;
}
.article__text--r{
  color: var(--main-color);
  font-size: 16px;
  width: 350px;
  font-family: var(--main-font);
} /* Fin del contenido de texto */
/* Fin del contenido principal */
.main__card{ /* Contenido secundario */
  height: 600px;
  width: 100%;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card{
  height: 75%;
  width: 20%;
  background: #dee2e6;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.54);
  -moz-box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.54);
  box-shadow: 10px 10px 10px -4px rgba(0,0,0,0.19);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--fourth--font);
}
.card__img{
  background: var(--main-color);
  height: 100px;
  width: 100px;
  margin-top: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img > img{
  height: 80%;
  width: 80%;
}
.card__title{
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  color: #023e8a;
}
.card__text{
  color: #0096c7;
  font-size: 16px;
  margin-top: 20px;
  padding: 0px 10px 0px 10px;
} /* Fin del contenido secundario */
/* Fin del contenido de página */

.footer{ /* Comienzo del footer */
  height: 300px;
  width: 100%;
  background: var(--third-color);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  font-family:  var(--fourth--font);
}
.footer__redes{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 250px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.footer__map{
  height: 200px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.footer__redes iframe{
  height: 100%;
  width: 100%;
}
.redes__link{
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.redes__link p:nth-child(1){
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: var(--main-color);
}
.redes__link a{
  width: 6.25em; /* 100/16 */
  text-decoration: none;
  }
.redes__link p:nth-child(6){
  font-size: 16px;
  color: var(--main-color);
  text-align: center;
  padding: 0px 20px;
}
.redes__link a i{
  font-size: 30px;
  color: var(--main-color);
  display: flex;
  justify-content: space-around;
}
#facebook{
  color: #6e8ccc;
}
#google{
  color: #ee4b39;
}
#instagram{
  color: #e4405f ;
}
#twitter{
  color: #0077b5;
}
.footer__extra{
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  height: 50px;
  width: 100%;
  color: var(--main-color);
  order: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.footer__extra span{
  margin-bottom: 15px;
  font-size: 15px;
} /* Fin del footer */

/* Responsive para pantallas grandes */
@media only screen and (min-width: 1501px){
  .header{
    height: 800px;
  }
  .header__nav{
    height: 70px;
  }
  .nav__li{
    font-size: 1.1em;
    padding: 0em 1.8em; /* 0/16 */ /* 50/16 */
  }
  .header__logo{
    height: 60px;
    width: 70px;
  }
  .Logo__text{
    font-size: 23px;
  }
  .container__img > img{
    height: 200px;
    width: 170px;
  }
  .header__start{
    height: 740px;
    background-position: right;
  }
  .container__img{
    margin-right: 5%;
  }
  .start__tittle{
    width: 550px;
    margin-top: 1.56em; /* 25/16 */
  }
  .start__text{
    width: 750px;
    font-size: 1.19em;
    margin-right: 2%;
  }
  .footer__redes{
    gap: 1.87em; /* 30/16 */
  }
  .footer__map{
    width: 95%;
  }
}
/* Responsive para laptos */
@media only screen and (max-width: 1255px){
  .header{
    height: 510px;
  }
  .header__start{
    height: 450px;
    background-position: right;
  }
  .container__img{
    margin-right: 2%;
  }
  .container__img> img{
    height: 150px;
    width: 120px;
  }
  .start__tittle{
    font-size: 1.125em; /* 18/16 */
    margin-top: 15px;
  }
  .start__text{
    width: 550px;
    font-size: 0.9375em; /* 15/16 */
    margin-right: 2%;
  }

  .main{
    height: 2200px;
  }
  .main_article{
    grid-template-columns: 21.87em 18.25em 21.87em;
  }
  .article__title{
    font-size: 1.9em;
  }
  .article__container--p{ /* Reiki */
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: repeat(2, 15.625em); /* 250/16 */
    grid-template-columns: 21.87em;
  }
  .article__container--s{ /* Reiki */
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: repeat(2, 15.625em); /* 250/16 */
    grid-template-columns: 21.87em;
  }
  .article__container--t{ /* Reiki */
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    display: grid;
    grid-template-rows: repeat(2, 15.625em); /* 250/16 */
    grid-template-columns: 21.87em;
  }
  .article__container--c{ /* Reiki */
    grid-column: 3 / 4;
    grid-row: 4 / 6;
    display: grid;
    grid-template-rows: repeat(2, 15.625em); /* 250/16 */
    grid-template-columns: 21.87em;
  }

  .main__card{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: transparent;
  }
  .card{
    height: 90%;
    width: 35%;
    padding: 0px 10px 0px 10px;
    margin-top: 30px;
  }
  .card__title{
    font-size: 1.4em; /* 23/16 */
  }
  .card__text{
    font-size: 1.1em; /* 18/16 */
  }
  .footer__redes{
    grid-template-columns: 40% 60%;
    gap: 10px;
  }
  .footer__map{
    width: 95%;
  }
}
/* Responsive-1 para tablets */
@media only screen and (min-width: 769px) and (max-width: 1059px){
  .nav__li{
    font-size: 1em;
    padding: 0px 1em;
  }
  .main{
    height: 3100px;
  }
  .main_article{
    height: 2100px;
    grid-template-columns: 100% 0% 0%;
    grid-template-rows: 6.25em repeat(4, 25em); /* 100/16 */ /* 400/16 */
    justify-content: center;
    grid-row-gap: 70px;
  }
  .article__title{
    grid-column: 1 / 2;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .article__container--p{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img__position--p{
    height: 285px;
    width: 500px;
    display: flex;
    flex-direction: column;
  }
  .img__position--p > img{
    height: 250px;
  }
  .container__position--p{
    display: flex;
    align-items: center;
  }
  .article__container--s{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .img__position--s{
    height: 285px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img__position--s > img{
    height: 250px;
  }
  .container__position--s{
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .article__container--t{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img__position--t{
    height: 285px;
    width: 500px;
    display: flex;
    flex-direction: column;
  }
  .img__position--t > img{
    height: 250px;
  }
  .container__position--t{
    display: flex;
    align-items: center;
  }
  .article__container--c{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .img__position--c{
    height: 285px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img__position--c > img{
    height: 250px;
  }
  .container__position--c{
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .article__line--first, .article__line--second, .article__line--third, .article__line--fourth, .article__line--fifth{
    display: none;
  }
  .article__title--l, .article__title--r{
    top: 0;
    padding: 0;
    width: 100%;
    font-size: 2.3em;
  }
  .article__text--l, .article__text--r{
    width: 400px;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .card{
    padding: 0px;
  }
  .footer{
    height: 650px;
    width: 100%;
    display: grid;
    grid-template-columns: 100% 0%;
    grid-template-rows: 18.75em 12.5em 9.375em; /* 300/16 */ /* 200/16 */ /* 70/16 */
  }
  .footer__redes{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 18.75em 13.5em; /* 250/16 */
    grid-template-columns: 100% 0%;
  }
  .redes__link{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-content: center;
    align-content: space-around;
  }
  .footer__map{
    height: 225px;
    width: 90%;
    margin: 0px 5%;
  }
  .footer__extra{
    height: 100%;
    grid-row: 3 / 4;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

/* Responsive-2 para tablets */
@media only screen and (min-width: 480px) and (max-width: 768px){
  .header{
    height: 740px;
  }
  .header__start{
    height: 680px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .container__img{
    width: 60%;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }
  .container__img > img{
    width: 160px;
    height: 190px;
    margin-right: 0px;
  }
  .start__tittle{
    width: 100%;
    font-size: 1.25em; /* 20/16 */
  }
  .start__text{
    width: 70%;
    font-size: 1.0625em; /* 17/16 */
    margin-right: 0px;
  }
  .main{
    height: 4050px;
  }
  .main_article{
    height: 2100px;
    grid-template-columns: 100% 0% 0%;
    grid-template-rows: 6.25em repeat(4, 25em); /* 100/16 */ /* 400/16 */
    justify-content: center;
    grid-row-gap: 70px;
  }
  .article__title{
    grid-column: 1 / 2;
    font-size: 2.1875em; /* 35/16 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .article__container--p{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img__position--p{
    height: 285px;
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  .img__position--p > img{
    height: 250px;
  }
  .container__position--p{
    display: flex;
    align-items: center;
  }
  .article__container--s{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .img__position--s{
    height: 285px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img__position--s > img{
    height: 250px;
  }
  .container__position--s{
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .article__container--t{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img__position--t{
    height: 285px;
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  .img__position--t > img{
    height: 250px;
  }
  .container__position--t{
    display: flex;
    align-items: center;
  }
  .article__container--c{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .img__position--c{
    height: 285px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img__position--c > img{
    height: 250px;
  }
  .container__position--c{
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .article__line--first, .article__line--second, .article__line--third, .article__line--fourth, .article__line--fifth{
    display: none;
  }
  .article__title--l, .article__title--r{
    top: 0;
    padding: 0;
    width: 100%;
    font-size: 2.1em;
  }
  .article__text--l, .article__text--r{
    width: 400px;
    font-size: 16px;
    padding-bottom: 10px;
  }
  .card{
    width: 80%;
  }
  .card__title{
    font-size: 25px;
  }
  .card__text{
    font-size: 18px;
  }
  .footer{
    height: 650px;
    width: 100%;
    display: grid;
    grid-template-columns: 100% 0%;
    grid-template-rows: 18.75em 12.5em 9.375em; /* 300/16 */ /* 200/16 */ /* 70/16 */
  }
  .footer__redes{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 18.75em 13.5em; /* 250/16 */
    grid-template-columns: 100% 0%;
  }
  .redes__link{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-content: center;
    align-content: space-around;
  }
  .footer__map{
    height: 225px;
    width: 90%;
    margin: 0px 5%;
  }
  .footer__extra{
    height: 100%;
    grid-row: 3 / 4;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
/* Responsive para celulares */
@media only screen and (min-width: 320px) and (max-width: 479px){
  .header{
    height: 740px;
  }
  .header__start{
    height: 680px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .container__img{
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }
  .container__img > img{
    width: 130px;
    height: 160px;
    margin-right: 0px;
  }
  .start__tittle{
    width: 100%;
    font-size: 1.1em;
  }
  .start__text{
    width: 80%;
    font-size: .9em;
    margin-right: 0px;
  }
  .main{
    height: 4800px;
  }
  .main_article{
    height: 2100px;
    grid-template-columns: 100% 0% 0%;
    grid-template-rows: 6.25em repeat(4, 25em); /* 100/16 */ /* 400/16 */
    justify-content: center;
    grid-row-gap: 70px;
  }
  .article__title{
    grid-column: 1 / 2;
    font-size: 1.8em; /* 35/16 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .article__container--p{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img__position--p{
    height: 285px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .img__position--p > img{
    height: 200px;
  }
  .container__position--p{
    display: flex;
    align-items: center;
  }
  .article__container--s{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .img__position--s{
    height: 285px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img__position--s > img{
    height: 200px;
  }
  .container__position--s{
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .article__container--t{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img__position--t{
    height: 285px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .img__position--t > img{
    height: 200px;
  }
  .container__position--t{
    display: flex;
    align-items: center;
  }
  .article__container--c{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .img__position--c{
    height: 285px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img__position--c > img{
    height: 200px;
  }
  .container__position--c{
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .article__line--first, .article__line--second, .article__line--third, .article__line--fourth, .article__line--fifth{
    display: none;
  }
  .article__title--l, .article__title--r{
    top: 0;
    padding: 0;
    width: 100%;
    font-size: 1.8em;
  }
  .article__text--l, .article__text--r{
    width: 300px;
    font-size: 16px;
    padding-bottom: 10px;
  }
  .main__card{
    height: 700px;
  }
  .card{
    width: 80%;
    height: 90%;
  }
  .card__title{
    font-size: 25px;
  }
  .card__text{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .footer{
    height: 780px;
    width: 100%;
    display: grid;
    grid-template-columns: 100% 0%;
    grid-template-rows: 18.75em 15.625em 13.675em; /* 300/16 */ /* 200/16 */ /* 70/16 */
  }
  .footer__redes{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 18.75em 15.625em; /* 250/16 */
    grid-template-columns: 100% 0%;
  }
  .redes__link{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-content: center;
    align-content: space-around;
    gap: 15px;
  }
  .footer__map{
    height: 225px;
    width: 90%;
    margin: 0px 5%;
  }
  .footer__extra{
    height: 100%;
    grid-row: 3 / 3;
    grid-column: 1 / 2;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }
}
